USE [master]
GO
/****** Object:  Database [Cinema]    Script Date: 21.01.2018 12:45:51 ******/
CREATE DATABASE [Cinema]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cinema', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Cinema.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Cinema_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Cinema_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cinema].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cinema]
GO
/****** Object:  Table [dbo].[DopPrice]    Script Date: 21.01.2018 12:45:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DopPrice](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[time_start] [time](7) NOT NULL,
	[time_end] [time](7) NOT NULL,
	[id_price] [int] NOT NULL,
	[id_dop_section] [int] NOT NULL,
 CONSTRAINT [PK_DopPrice] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DopSection]    Script Date: 21.01.2018 12:45:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DopSection](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_room] [int] NOT NULL,
	[id_section] [int] NOT NULL,
	[priority] [smallint] NOT NULL,
 CONSTRAINT [PK_DopSection] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[film]    Script Date: 21.01.2018 12:45:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[film](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_film] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Price]    Script Date: 21.01.2018 12:45:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Price](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[price] [money] NOT NULL,
 CONSTRAINT [PK_Price] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Room]    Script Date: 21.01.2018 12:45:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Seans]    Script Date: 21.01.2018 12:45:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seans](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[time] [datetime] NOT NULL,
	[id_film] [int] NOT NULL,
	[id_room] [int] NOT NULL,
 CONSTRAINT [PK_Seans] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Section]    Script Date: 21.01.2018 12:45:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Section](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[vertical] [int] NULL,
	[horisontal] [int] NULL,
 CONSTRAINT [PK_Section] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 21.01.2018 12:45:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_seans] [int] NOT NULL,
	[name_user] [nchar](10) NOT NULL,
	[vertical_y] [int] NOT NULL,
	[horisontal_x] [int] NOT NULL,
	[id_dop_section] [int] NOT NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_Seans]    Script Date: 21.01.2018 12:45:51 ******/
CREATE NONCLUSTERED INDEX [IX_Seans] ON [dbo].[Seans]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DopPrice]  WITH CHECK ADD  CONSTRAINT [FK_DopPrice_DopSection] FOREIGN KEY([id_dop_section])
REFERENCES [dbo].[DopSection] ([id])
GO
ALTER TABLE [dbo].[DopPrice] CHECK CONSTRAINT [FK_DopPrice_DopSection]
GO
ALTER TABLE [dbo].[DopPrice]  WITH CHECK ADD  CONSTRAINT [FK_DopPrice_Price] FOREIGN KEY([id_price])
REFERENCES [dbo].[Price] ([id])
GO
ALTER TABLE [dbo].[DopPrice] CHECK CONSTRAINT [FK_DopPrice_Price]
GO
ALTER TABLE [dbo].[DopSection]  WITH CHECK ADD  CONSTRAINT [FK_DopSection_Room] FOREIGN KEY([id_room])
REFERENCES [dbo].[Room] ([id])
GO
ALTER TABLE [dbo].[DopSection] CHECK CONSTRAINT [FK_DopSection_Room]
GO
ALTER TABLE [dbo].[DopSection]  WITH CHECK ADD  CONSTRAINT [FK_DopSection_Section] FOREIGN KEY([id_section])
REFERENCES [dbo].[Section] ([id])
GO
ALTER TABLE [dbo].[DopSection] CHECK CONSTRAINT [FK_DopSection_Section]
GO
ALTER TABLE [dbo].[Seans]  WITH CHECK ADD  CONSTRAINT [FK_Seans_film] FOREIGN KEY([id_film])
REFERENCES [dbo].[film] ([id])
GO
ALTER TABLE [dbo].[Seans] CHECK CONSTRAINT [FK_Seans_film]
GO
ALTER TABLE [dbo].[Seans]  WITH CHECK ADD  CONSTRAINT [FK_Seans_Room] FOREIGN KEY([id_room])
REFERENCES [dbo].[Room] ([id])
GO
ALTER TABLE [dbo].[Seans] CHECK CONSTRAINT [FK_Seans_Room]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_DopSection] FOREIGN KEY([id_dop_section])
REFERENCES [dbo].[DopSection] ([id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_DopSection]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Seans] FOREIGN KEY([id_seans])
REFERENCES [dbo].[Seans] ([id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Seans]
GO
USE [master]
GO
